<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting System</title>
    <link rel="stylesheet" href="../static/css/homes.css">
</head>
<body>
  <div class="buttons-section">
        <a href ="/homes"><button class="btnhome">Back to Home</button></a>
    </div>
    <section id="aboutUs">
        <h3>About Us</h3>
        <br>
      <div class="info-container">
        <!-- Box for "Welcome" -->
        <div class="info-box">
          <u><h2> Welcome</h2></u>
          <p>Welcome to Epoll - Online Voting System! We are dedicated to providing a secure and convenient platform for users to participate in the democratic process from anywhere and at any time.</p>
        </div>
    
        <!-- Box for "Mission" -->
        <div class="info-box">
          <u><h2>Mission</h2></u>
          <p>Our mission is to promote accessibility and transparency in elections by leveraging technology. Epoll allows voters to cast their votes remotely, ensuring that the democratic voice is heard without constraints.</p>
        </div>
    
         <!-- Box for "Key Features" -->
         <div class="info-box">
          <u><h2>Key Features</h2></u>
          <ul>
            <li>Convenient and user-friendly online voting platform.</li>
            <li>Secure and encrypted voting process to protect user privacy.</li>
            <li>Accessible from various devices, making voting easy for everyone.</li>
            <li>Efficient administration tools for election organizers and administrators.</li>
          </ul>
        </div>
      </div>
    <br>
    <br>
      <div class="info-container">
        <!-- Box for "Commitment" -->
        <div class="info-box">
          <u><h2>Commitment</h2></u>
          <p>Epoll is committed to upholding the principles of democracy and fostering trust in the electoral process. We believe in the power of technology to facilitate fair and inclusive elections, ensuring that every voice counts.</p>
        </div>
    
        <!-- Box for "Thank You" -->
        <div class="info-box">
          <u><h2>Thank You</h2></u>
          <p>Thank you for choosing Epoll for your online voting needs. Together, let's build a more accessible and participatory democracy!</p>
        </div>
      </div>
    </section>
    <br>
    <br>
    
     <!---footerr -->
      <footer>
        &copy; 2024 Epoll- Online Voting System. All rights reserved.
      </footer>
    </body>
    </html>
    
