<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us- Online Voting System</title>
    <link rel="stylesheet" href="../static/css/homes.css">
    
</head>
<body>
    <a href="/homes" class="button">Back to Home</a>
    <section id="Contact">
        <!--<h2>Contact</h2>-->
    <section id="contactUsSection" class="contact-box">
       <u><h2>Contact Us</h2></u> 
        <p>If you have any questions, feel free to <a href="mailto:info@epoll.com">contact us via email</a>.</p>
        </section>

         <!-- Vertical line (hr) between Contact Us and Contact Form -->
         <hr class="vertical-line">        
         <!-- Contact Form -->
        
        <div class="contact-form">
        <u><h4>Contact Form</h4></u>
        <form action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit" class="btn btn-send">Send Message</button>
        </form>
    </div>
</section>

</body>
</html>