
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting System</title>
    <link rel="stylesheet" href="../static/css/homes.css">

</head>
<body>

    <header>
        <b><a href="/about">About</a></b>
        <b><a href="/contact">Contact</a></b>
        <b><a href="/steps">Steps</a></b>
        <a href="/logins" class="btn btn-login">Login</a> 
        <div class="dropdown">
            <a href="#" class="btn btn-login">Signup</a>
            <div class="dropdown-content">
              <a href="/signups">User Signup</a>
              <a href="/admin">Admin Signup</a>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <img src="../static/Images/online.jpeg" alt="Voting System Image">
        </div>
        <div class="content1">
            <div class="caption">Vote from anywhere and anytime.</div>
            <a href="/signups" class="btn btn-register">Register</a>
            <a href="/about" class="btn btn-readmore">Read More</a>
        </div>
    </main>

</body>
</html>
