<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Management - Admin Dashboard</title>
    <link rel="stylesheet" href="../static/css/voter.css">

</head>
<body>
    <div class="dashboard-container">
        <h1>Voter Management</h1>
        <div class="options">
            <div class="option">
                <h2>Register New Voter</h2>
                <p>Register a new voter into the system</p>
                <a href="/admin/register-voter">Register Voter</a>
            </div>
            <div class="option">
                <h2>View Voters List</h2>
                <p>View and manage the list of registered voters</p>
                <a href="/admin/view-voters">View Voters</a>
            </div>
            <div class="option">
                <h2>Delete Voter</h2>
                <p>Delete a voter from the system</p>
                <a href="/admin/delete-voter">Delete Voter</a>
            </div>
        </div>
        <div class="logout">
            <a href="/homes">Logout</a>
        </div>
    </div>
</body>
</html>
